<div class="da-footer">
  <div class="da-footer-intro">
    <span class="da-production-name"><a href="https://www.pakizatvl.com/" target="_blank">Designed and Developed by PTVL</a></span>
    <a
      href="https://www.pakizatvl.com/"
      rel="noopener noreferrer"
      target="_blank"
      aria-label="Star DevCloudFE/ng-devui-admin on GitHub"
      >
    </a>
    <!-- <span class="da-organization">
      <a href="https://www.pakizatvl.com/" rel="noopener noreferrer" target="_blank" aria-label="Learn more about ng-devui">
        Developed By TPVL
      </a>
    </span> -->
  </div>
  <div class="da-presented">{{ 'footer.presented' | translate }}</div>
</div>
