<div class="da-list-wrap">
    <div class="da-content-banner">
        <d-breadcrumb>
            <d-breadcrumb-item *ngFor="let item of breadItem">
                <a rel="noopener">{{ item.name }}</a>
            </d-breadcrumb-item>
        </d-breadcrumb>
    </div>
    <div class="da-content-wrapper">
        <da-layout-row [daGutter]="[24, 24]">
            <da-col-item [daSpan]="24" [daXs]="24">
                <d-toast [value]="msgs"></d-toast>
                <div class="da-dynamic-form">
                    <form dForm [layout]="columnsLayout" autocomplete="off">
                        <div class="da-content-title da-form-card-title">
                            <d-card-title>Gate Pass Entry</d-card-title>
                        </div>
                        <div class="grid">
                            <da-layout-col [daGutter]="[0, 0]" [daSpan]="24">
                                <da-row-item>
                                    <da-layout-row [daGutter]="[0, 0]">
                                        <da-col-item [daXs]="6" [daMs]="24">
                                            <div class="u-1-3">
                                                <d-form-item>
                                                    <d-form-label [required]="true">Gate Pass Date</d-form-label>
                                                    <d-form-control class="form-control-width">
                                                        <div class="devui-input-group devui-dropdown-origin"
                                                            dActiveFormControl>
                                                            <input class="devui-input devui-form-control"
                                                                placeholder="y/MM/dd" (click)="datePicker1.toggle()"
                                                                name="dp" 
                                                                [(ngModel)]="masterData.selectedDate1" autocomplete="off"
                                                                dDatepicker #datePicker1="datepicker" />
                                                            <div *ngIf="selectedDate1"
                                                                class="devui-input-group-addon close-icon-wrapper"
                                                                (click)="datePicker1.clearAll()">
                                                                <i class="icon icon-close"></i>
                                                            </div>
                                                            <div class="devui-input-group-addon"
                                                                (click)="datePicker1.toggle()">
                                                                <i class="icon icon-calendar"></i>
                                                            </div>
                                                        </div>
                                                    </d-form-control>
                                                </d-form-item>
                                            </div>
                                        </da-col-item>
                                        <da-col-item [daXs]="6" [daMs]="24">
                                            <div class="u-1-3">
                                                <d-form-item>
                                                    <d-form-label [required]="true">Vehicle No</d-form-label>
                                                    <d-form-control class="form-control-width">
                                                        <d-select [options]="vehicleList"
                                                            name="VehicleId"
                                                            [isSearch]="true" [filterKey]="'label'"
                                                            placeholder="Select Vehicle"
                                                            (ngModelChange)="changeVehicle($event)"
                                                            [(ngModel)]="masterData.selectedVehicle"></d-select>
                                                      </d-form-control>
                                                </d-form-item>
                                            </div>
                                        </da-col-item>
                                        <da-col-item [daXs]="6" [daMs]="24">
                                            <div class="u-1-3">
                                                <d-form-item>
                                                    <d-form-label [required]="true">Driver Name</d-form-label>
                                                    <d-form-control class="form-control-width">
                                                        <input dTextInput 
                                                        name="driverName" 
                                                        [(ngModel)]="VehicleRowData.driverName" />
                                                        
                                                    </d-form-control>
                                                </d-form-item>
                                            </div>
                                        </da-col-item>
                                        <da-col-item [daXs]="6" [daMs]="24">
                                            <div class="u-1-3">
                                                <d-form-item>
                                                    <d-form-label [required]="true">Driver Licence</d-form-label>
                                                    <d-form-control class="form-control-width">
                                                        <input dTextInput 
                                                        name="driverLicenseNo" 
                                                        [(ngModel)]="VehicleRowData.driverLicenseNo" />
                                                    </d-form-control>
                                                </d-form-item>
                                            </div>
                                        </da-col-item>
                                        <da-col-item [daXs]="6" [daMs]="24">
                                            <div class="u-1-3">
                                                <d-form-item>
                                                    <d-form-label [required]="true">Driver Phone No</d-form-label>
                                                    <d-form-control class="form-control-width">
                                                        <input dTextInput 
                                                        name="driverPhone" 
                                                        [(ngModel)]="VehicleRowData.driverPhone" />
                                                    </d-form-control>
                                                </d-form-item>
                                            </div>
                                        </da-col-item>
                                    </da-layout-row>
                                </da-row-item>
                            </da-layout-col>
                        </div>

                        <d-form-operation *ngIf="IsActive" >
                            <d-button bsStyle="primary" class="mr-element-spacing" circled="true" (btnClick)="placeGatePass(masterData)">Submit</d-button>
                            <!-- <d-button  bsStyle="primary" class="mr-element-spacing" circled="true"
                                style="margin-right: 4px !important" [disabled]="!items.length">Submit</d-button> -->
                            <d-button bsStyle="common" circled="true">Cancel</d-button>
                        </d-form-operation>
                    </form>
                </div>
            </da-col-item>
        </da-layout-row>
    </div>
    <div class="da-content-wrapper">
        <d-toast [value]="msgs"></d-toast>
        <da-layout-row [daGutter]="[24, 24]">
            <da-col-item [daSpan]="24" [daXs]="24">
                <div class="da-list-container">
                    <div class="da-list-header">
                        <div class="da-header-left">
                            <div class="two-date-wrapper" dTwoDatePicker [hideOnRangeSelected]="false"
                                [cssClass]="'custom-css-class'" (selectedRangeChange)="selectRange($event)">
                                <div class="devui-input-group devui-dropdown-origin" dActiveFormControl>
                                    <input class="devui-input devui-form-control" placeholder="y/MM/dd"
                                        [(ngModel)]="rangeStart" dTwoDatePickerStart #startPicker2="twoDatePickerStart"
                                        (selectStart)="selectStart($event)" (click)="startPicker2.toggle()" />
                                    <div *ngIf="rangeStart" class="devui-input-group-addon close-icon-wrapper"
                                        (click)="startPicker2.clear()">
                                        <i class="icon icon-close"></i>
                                    </div>
                                    <div class="devui-input-group-addon" (click)="startPicker2.toggle()">
                                        <i class="icon icon-calendar"></i>
                                    </div>
                                </div>
                                <div class="devui-input-group devui-dropdown-origin" dActiveFormControl>
                                    <input class="devui-input devui-form-control" placeholder="y/MM/dd"
                                        [(ngModel)]="rangeEnd" dTwoDatePickerEnd #endPicker2="twoDatePickerEnd"
                                        (selectEnd)="selectEnd($event)" (click)="endPicker2.toggle()" />
                                    <div *ngIf="rangeEnd" class="devui-input-group-addon close-icon-wrapper"
                                        (click)="endPicker2.clear()">
                                        <i class="icon icon-close"></i>
                                    </div>
                                    <div class="devui-input-group-addon" (click)="endPicker2.toggle()">
                                        <i class="icon icon-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="da-header-item">
                            <div class="da-header-item-label">Sales Order Id</div>
                            <input dTextInput autocomplete="off" name="orderId" />
                        </div>
                        <div class="da-header-item">
                            <d-button (click)="reset()">Search</d-button>
                        </div>
                    </div>
                    <div class="list-content" dLoading [loading]="busy">
                        <d-data-table #datatable [dataSource]="basicDataSource" [borderType]="searchForm.borderType"
                            [size]="searchForm.size" [tableLayout]="searchForm.layout" [scrollable]="true"
                            >
                            <d-column class="devui-checkable-cell"
                            [field]="'checkbox'" header="Select" [width]="'70px'">
                                <d-cell>
                                    <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedIndex="nestedIndex">
                                        <d-checkbox
                                        [ngModelOptions]="{ standalone: true }"
                                        (ngModelChange)="onRowCheckChange($event, rowIndex, nestedIndex, rowItem)"
                                        [ngModel]="rowItem.$checked"
                                        [halfchecked]="rowItem.$halfChecked"
                                        [disabled]="rowItem.$checkDisabled"
                                        dTooltip
                                        [content]="rowItem.$checkBoxTips"
                                        [position]="['top', 'right', 'bottom', 'left']"
                                        [showAnimation]="false"></d-checkbox>
                                    </ng-template>
                                </d-cell>
                            </d-column>
                            <d-column field="invoiceNo" header="Challan No" [width]="'70px'">
                                <d-cell>
                                    <ng-template let-cellItem="cellItem">
                                        {{ cellItem }}
                                    </ng-template>
                                </d-cell>
                            </d-column>
                            <d-column field="orderNo" header="Order No" [width]="'70px'">
                                <d-cell>
                                    <ng-template let-cellItem="cellItem">
                                        {{ cellItem }}
                                    </ng-template>
                                </d-cell>
                            </d-column>
                            <d-column field="customerName" header="Customer Name" [width]="'200px'">
                                <d-cell>
                                    <ng-template let-cellItem="cellItem">
                                        <span [title]="cellItem" class="over-flow-ellipsis" [style.width]="'100px'">
                                            {{ cellItem }}
                                        </span>
                                    </ng-template>
                                </d-cell>
                            </d-column>
                            <d-column field="totalQuantity" header="Total Quantity" [width]="'70px'">
                            </d-column>   
                        </d-data-table>
                    </div>
                    <div class="da-list-footer">
                        <d-pagination [size]="'sm'" [total]="pager.total" [(pageSize)]="pager.PageSize"
                            [(pageIndex)]="pager.PageIndex" [canViewTotal]="true" [canChangePageSize]="true"
                            [canJumpPage]="true" [maxItems]="5" (pageIndexChange)="onPageChange($event)"
                            (pageSizeChange)="onSizeChange($event)">
                        </d-pagination>
                    </div>
                </div>
            </da-col-item>
        </da-layout-row>
    </div>
</div>
