<div class="da-content-banner">
    <d-breadcrumb>
        <d-breadcrumb-item *ngFor="let item of breadItem">
          <!-- <a rel="noopener" (click)="navigate($event, item)">{{ item.name }}</a> -->
          <a rel="noopener">{{ item.name }}</a>
        </d-breadcrumb-item>
      </d-breadcrumb>
</div>
<div class="da-content-wrapper">
    <d-toast [value]="toastMessage"></d-toast>
    <da-layout-row [daGutter]="[24, 24]">
      <div class="da-list-header">
        <d-search [placeholder]="'search'" [(ngModel)]="keyword" (searchFn)="getList()"></d-search>
      </div>
      <da-col-item [daSpan]="24" [daXs]="24">
        <div class="da-advance-form" dLoading [loading]="busy">
          <div class="da-advace-form-content">
            <d-data-table
             #dataTable 
             [dataSource]="listData" 
             [scrollable]="true" 
             [tableWidthConfig]="tableWidthConfig">
              <thead dTableHead>
                <tr dTableRow>
                  <th dHeadCell>Id</th>
                  <th dHeadCell>Product Name</th>
                  <th dHeadCell>Product Code</th>
                  <th dHeadCell>Category</th>
                  <th dHeadCell>Piece Price</th>
                  <th dHeadCell>Dozen Price</th>
                  <th dHeadCell>Actions</th>
                </tr>
              </thead>
              <tbody dTableBody>
                <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                  <tr dTableRow *ngIf="rowIndex === 0">
                    <td dTableCell [attr.colspan]="tableWidthConfig.length">
                      <div
                        *ngIf="!headerNewForm"
                        (click)="newRow()"
                        class="cursor-pointer"
                      >
                        <span class="tips-icon icon-add"></span>
                        <span style="margin-left: 10px">Create new data</span>
                      </div>
                      <div *ngIf="headerNewForm" class="edit-padding-fix">
                        <da-admin-form
                          [formConfig]="formConfig"
                          [formData]="defaultRowData"
                          class="editable-row"
                          (submitted)="quickRowAdded($event)"
                          (canceled)="quickRowCancel()"
                        ></da-admin-form>
                      </div>
                    </td>
                  </tr>
                  <tr dTableRow>
                    <td
                      dTableCell
                      [editable]="true"
                      [editableTip]="editableTip"
                      [(editing)]="rowItem['idEdit']"
                      [rowItem]="rowItem"
                      [field]="'id'"
                      [beforeEditStart]="beforeEditStart"
                      [beforeEditEnd]="beforeEditEnd"
                    >
                      <span *ngIf="!rowItem['idEdit']">{{ rowIndex + 1 }}</span>
                      <div *ngIf="rowItem['idEdit']" class="edit-padding-fix">
                        <input
                          class="devui-form-control"
                          name="id"
                          [(ngModel)]="rowItem.id"
                          [attr.maxlength]="50"
                          [attr.minlength]="3"
                        />
                      </div>
                    </td>
                    <td
                      dTableCell
                      [editable]="true"
                      [editableTip]="editableTip"
                      [(editing)]="rowItem['productNameEdit']"
                      [rowItem]="rowItem"
                      [field]="'productName'"
                      [beforeEditStart]="beforeEditStart"
                      [beforeEditEnd]="beforeEditEnd"
                    >
                      <span *ngIf="!rowItem['productNameEdit']">{{
                        rowItem?.productName
                      }}</span>
                      <div
                        *ngIf="rowItem['productNameEdit']"
                        class="edit-padding-fix"
                      >
                        <input
                          dTextInput
                          size="sm"
                          [(ngModel)]="rowItem.productName"
                        />
                      </div>
                    </td>
                    <td
                      dTableCell
                      [editable]="true"
                      [editableTip]="editableTip"
                      [(editing)]="rowItem['iterationEdit']"
                      [rowItem]="rowItem"
                      [field]="'productCode'"
                      [beforeEditStart]="beforeEditStart"
                      [beforeEditEnd]="beforeEditEnd"
                    >
                      <span *ngIf="!rowItem['iterationEdit']">{{
                        rowItem?.productCode
                      }}</span>
                      <div
                        *ngIf="rowItem['iterationEdit']"
                        class="edit-padding-fix"
                      >
                        <input
                          dTextInput
                          size="sm"
                          [(ngModel)]="rowItem.productCode"
                        />
                      </div>
                    </td>
                    <td
                      dTableCell
                      [editable]="true"
                      [editableTip]="editableTip"
                      [(editing)]="rowItem['priorityEdit']"
                      [rowItem]="rowItem"
                      [field]="'categoryId'"
                      [beforeEditStart]="beforeEditStart"
                      [beforeEditEnd]="beforeEditEnd"
                    >
                        <span *ngIf="!rowItem['priorityEdit']">
                            <span *ngIf="isSelect && selectedId == rowItem.categoryId; else elseBlock">
                                {{selectedItem}}
                            </span>
                            <ng-template #elseBlock>
                                {{rowItem.categoryName}}
                              </ng-template>
                            <span *ngIf="!isSelect">
                                
                            </span>
                        </span>
                      <div 
                      *ngIf="rowItem['priorityEdit']"
                        class="edit-padding-fix"
                      >
                      <select class="devui-form-control" [(ngModel)]="rowItem.categoryId" name="categoryId" (change)="valueChange($event)">
                        <option [ngValue]="rowItem.categoryId" disabled>{{rowItem.categoryName}}</option>
                        <option *ngFor="let obj of category" [ngValue]="obj.id" [selected]="obj.id == rowItem.categoryId"> {{obj.name}} </option>
                      </select>
                        <!-- <d-select
                          name="category"
                          [filterKey]="rowItem.categoryId"
                          [(ngModel)]="rowItem.categoryId"
                          [options]="category"
                        ></d-select> -->
                      </div>
                    </td>
                    <td
                      dTableCell
                      [editable]="true"
                      [editableTip]="editableTip"
                      [(editing)]="rowItem['assigneeEdit']"
                      [rowItem]="rowItem"
                      [field]="'piecePrice'"
                      [beforeEditStart]="beforeEditStart"
                      [beforeEditEnd]="beforeEditEnd"
                    >
                      <span *ngIf="!rowItem['assigneeEdit']">
                        <!-- <d-avatar
                          [name]="rowItem.description"
                          [width]="24"
                          [height]="24"
                        ></d-avatar> -->
                        <span style="margin-left: 6px">{{
                          rowItem.piecePrice
                        }}</span>
                      </span>
                      <div
                        *ngIf="rowItem['assigneeEdit']"
                        class="edit-padding-fix"
                      >
                        <input
                          dTextInput
                          size="sm"
                          [(ngModel)]="rowItem.piecePrice"
                        />
                      </div>
                    </td>
                    <td
                      dTableCell
                      [editable]="true"
                      [editableTip]="editableTip"
                      [(editing)]="rowItem['priceEdit']"
                      [rowItem]="rowItem"
                      [field]="'dozenPrice'"
                      [beforeEditStart]="beforeEditStart"
                      [beforeEditEnd]="beforeEditEnd"
                    >
                      <span *ngIf="!rowItem['priceEdit']">
                        <span style="margin-left: 6px">{{
                          rowItem.dozenPrice
                        }}</span>
                      </span>
                      <div
                        *ngIf="rowItem['priceEdit']"
                        class="edit-padding-fix"
                      >
                        <input
                          dTextInput
                          size="sm"
                          [(ngModel)]="rowItem.dozenPrice"
                        />
                      </div>
                    </td>
                    <td>
                      <d-button
                        icon="icon-delete"
                        bsStyle="text-dark"
                        title="delete"
                        (click)="deleteRow(rowItem.id)"
                      ></d-button>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </d-data-table>
          </div>
          <d-pagination
            [size]="'sm'"
            [total]="pager.total"
            [(pageSize)]="pager.pageSize"
            [(pageIndex)]="pager.pageIndex"
            [canViewTotal]="true"
            [canChangePageSize]="true"
            [canJumpPage]="true"
            [maxItems]="5"
            (pageIndexChange)="onPageChange($event)"
            (pageSizeChange)="onSizeChange($event)"
          >
          </d-pagination>
        </div>
      </da-col-item>
    </da-layout-row>
  </div>
