<div class="da-content-wrapper">
    <d-toast [value]="toastMessage"></d-toast>
    <da-layout-row [daGutter]="[24, 24]">
        <da-col-item [daSpan]="24" [daXs]="24">
            <div class="da-content-card da-form-card">
                <div class="da-content-title da-form-card-title">
                    <h3>Product Price Configuration</h3>
                </div>
                <form dForm [layout]="columnsLayout" autocomplete="off">
                    <div class="grid">
                      <da-layout-col [daGutter]="[0, 0]" [daSpan]="24">
                        <da-row-item>
                          <da-layout-row [daGutter]="[0, 0]">
                            <da-col-item [daXs]="4" [daMs]="24">
                            <div class="u-1-3">
                              <d-form-item>
                                <d-form-label [required]="true">Applicable Date</d-form-label>
                                <d-form-control class="form-control-width">
                                  <input class="devui-input devui-form-control" placeholder="y/MM/dd" name="dp"
                                      [(ngModel)]="formData.applicableDate" (click)="datePicker1.toggle()" autocomplete="off"
                                      dDatepicker appendToBody #datePicker1="datepicker"
                                      [customViewTemplate]="orderDate" />
                                  <ng-template #orderDate let-chooseDate="chooseDate" let-datePicker>
                                      <div class="box">
                                      <a class="date-link" (click)="chooseDate(getDay(0))">select today</a>
                                      </div>
                                  </ng-template>
                                </d-form-control>
                              </d-form-item>
                            </div>
                          </da-col-item>
                            <da-col-item [daXs]="6" [daMs]="24">
                              <div class="u-1-3">
                                <d-form-item>
                                    <d-form-label [required]="true">Product Name</d-form-label>
                                    <d-form-control>
                                        <d-select 
                                        [isSearch]="true" 
                                        [filterKey]="'label'"
                                        [options]="productlist"
                                        [placeholder]="'Select a Product'"
                                        (ngModelChange)="getPriceInfo($event)"
                                        name="product name" 
                                        size="sm" 
                                        [searchPlaceholder]="'Selech By product short name'"
                                        [searchFn]="onSelectObject"
                                        [(ngModel)]="formData.selectProduct"></d-select>
                                    </d-form-control>
                                </d-form-item>
                              </div>
                            </da-col-item>
                            <da-col-item [daXs]="4" [daMs]="24">
                              <div class="u-1-3">
                                <d-form-item>
                                  <d-form-label [required]="true">From Quantity</d-form-label>
                                  <d-form-control class="form-control-width">
                                    <input dTextInput name="fromQuantity" [(ngModel)]="formData.fromQuantity"/>
                                  </d-form-control>
                                </d-form-item>
                              </div>
                            </da-col-item>
                            <da-col-item [daXs]="4" [daMs]="24">
                              <div class="u-1-3">
                                <d-form-item>
                                  <d-form-label [required]="true">To Quantity</d-form-label>
                                  <d-form-control class="form-control-width">
                                    <input dTextInput name="toquantity" [(ngModel)]="formData.toQuantity"/>
                                  </d-form-control>
                                </d-form-item>
                              </div>
                            </da-col-item>
                            <da-col-item [daXs]="4" [daMs]="24">
                                <div class="u-1-3">
                                  <d-form-item>
                                    <d-form-label [required]="true">Select Unit</d-form-label>
                                    <d-form-control class="form-control-width">
                                      <d-select [options]="selectUnits" name="select1" [filterKey]="'label'" [(ngModel)]="formData.selectUnit"></d-select>
                                    </d-form-control>
                                  </d-form-item>
                                </div>
                              </da-col-item>
                              <da-col-item [daXs]="4" [daMs]="24">
                                <div class="u-1-3">
                                  <d-form-item>
                                    <d-form-label [required]="true">Price</d-form-label>
                                    <d-form-control class="form-control-width">
                                      <input dTextInput name="email" [(ngModel)]="formData.unitPrice" />
                                    </d-form-control>
                                  </d-form-item>
                                </div>
                              </da-col-item>
                          </da-layout-row>
                        </da-row-item>
                  
                      </da-layout-col>
                    </div>
                    <d-form-operation>
                      <d-button bsStyle="primary" (btnClick)="placeOrder(formData)" class="mr-element-spacing" circled="true" style="margin-right: 4px !important">Submit</d-button>
                      <d-button bsStyle="common" circled="true">Cancel</d-button>
                    </d-form-operation>
                  </form>
            </div>
        </da-col-item>
    </da-layout-row>
</div>