.da-form-operation.devui-form-operation {
  margin-left: 115px !important;
}

@media only screen and (max-width: 1023px) {
  .da-form-operation.devui-form-operation {
    margin-left: 0 !important;
  }
}

span .devui-form-span .devui-required{
    width: 125px !important;
  }

.devui-form-item{
  width: 300px !important;
}
