<div class="da-list-wrap">
    <div class="da-content-banner">
      <d-breadcrumb>
          <d-breadcrumb-item *ngFor="let item of breadItem">
            <a rel="noopener">{{ item.name }}</a>
          </d-breadcrumb-item>
        </d-breadcrumb>
  </div>
      <div class="da-content-wrapper" >
          <d-toast [value]="msgs"></d-toast>
          <da-layout-row [daGutter]="[24, 24]">
              <da-col-item [daSpan]="24" [daXs]="24" >
                  <div class="da-list-container" >
                      <div class="da-list-header" >
                          <div class="da-header-left" >
                            <div class="da-header-item">
                                <div class="da-header-item-label">From Date :</div>
                                <div class="devui-input-group devui-dropdown-origin" dActiveFormControl>
                                  <input class="devui-input devui-form-control" placeholder="y/MM/dd" (click)="datePicker1.toggle()" name="dp"
                                    [(ngModel)]="searchModel.fromDate" autocomplete="off" dDatepicker #datePicker1="datepicker"
                                    (selectedDateChange)="getValue($event)" appendToBody [appendToBodyDirections]="appendToBodyDirections" />
                                  <div *ngIf="selectedDate1" class="devui-input-group-addon close-icon-wrapper" (click)="datePicker1.clearAll()">
                                    <i class="icon icon-close"></i>
                                  </div>
                                  <div class="devui-input-group-addon" (click)="datePicker1.toggle()">
                                    <i class="icons icon-calendar"></i>
                                  </div>
                                </div>
                              </div>
                              <div class="da-header-item">
                                <div class="da-header-item-label">To Date :</div>
                                <div class="devui-input-group devui-dropdown-origin" dActiveFormControl>
                                  <input class="devui-input devui-form-control" placeholder="y/MM/dd" (click)="datePicker2.toggle()" name="dp"
                                    [(ngModel)]="searchModel.fromDate" autocomplete="off" dDatepicker #datePicker2="datepicker"
                                    (selectedDateChange)="getValue($event)" appendToBody [appendToBodyDirections]="appendToBodyDirections" />
                                  <div *ngIf="selectedDate2" class="devui-input-group-addon close-icon-wrapper" (click)="datePicker2.clearAll()">
                                    <i class="icon icon-close"></i>
                                  </div>
                                  <div class="devui-input-group-addon" (click)="datePicker2.toggle()">
                                    <i class="icon icon-calendar"></i>
                                  </div>
                                </div>
                              </div>
                              <div class="da-header-item">
                                <d-form-label [required]="true">Customer: </d-form-label>
                            <d-form-item>
                              <d-form-control class="form-control-width">
                                <d-select [options]="customerList" name="CustomerId" [isSearch]="true" [filterKey]="'label'"
                                  placeholder="Select Customer" (ngModelChange)="genarateMasterInfo($event)"
                                  [(ngModel)]="searchModel.selectedCustomer"></d-select>
                              </d-form-control>
                            </d-form-item>
                              </div>
                              <div class="da-header-item">
                                <div class="da-header-item-label" style="width: 100px;">Chalan No :</div>
                                <input dTextInput [placeholder]="'Chalan No'" [(ngModel)]="searchModel.challanNo" />
                              </div>
                              <div class="da-header-item">
                                <div class="da-header-item-label" style="width: 100px;">Invoice No :</div>
                                <input dTextInput [placeholder]="'Invoice No'" [(ngModel)]="searchModel.invoiceNo" />
                              </div>
                              
                              <div class="da-header-item">
                                <d-button (click)="reset()">Search</d-button>
                              </div>
                            </div>
                          </div>
                          <!-- <div class="da-header-item">
                              <div class="da-header-item-label">Sales Order Id</div>
                              <input dTextInput autocomplete="off" name="orderId" />
                          </div>
                          <div class="da-header-item">
                              <d-button (click)="reset()">Search</d-button>
                          </div> -->
                      </div>
                      <div class="list-content" dLoading [loading]="busy" >
                        
                          <d-data-table #datatable [dataSource]="basicDataSource" [borderType]="searchForm.borderType"
                              [size]="searchForm.size" [tableLayout]="searchForm.layout" [scrollable]="true" >
                                <d-column field="invoiceNo" header="Invoice No" [width]="'100px'" >
                                    <d-cell>
                                    <ng-template let-cellItem="cellItem">
                                        {{ cellItem }}
                                    </ng-template>
                                    </d-cell>
                                </d-column>
                                  <d-column field="invoiceDate" header="Invoice Date" [width]="'100px'" >
                                    <d-cell>
                                      <ng-template let-cellItem="cellItem">
                                        {{ cellItem }}
                                      </ng-template>
                                    </d-cell>
                                  </d-column>
                                  <d-column field="challanNo" header="Challan No" [width]="'100px'" >
                                    <d-cell>
                                      <ng-template let-cellItem="cellItem">
                                        {{ cellItem }}
                                      </ng-template>
                                    </d-cell>
                                  </d-column>
                                  <d-column field="customerName" header="Customer Name" [width]="'100px'">
                                    <d-cell>
                                      <ng-template let-cellItem="cellItem">
                                        <span [title]="cellItem" class="over-flow-ellipsis" [style.width]="'100px'">
                                          {{ cellItem }}
                                        </span>
                                      </ng-template>
                                    </d-cell>
                                  </d-column>
                                  <d-column field="Actions" header="Actions" [width]="'150px'">
                                    <d-cell>
                                        <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                                            <div class="btn-group over-flow-ellipsis">
                                              <d-button icon="icon-preview" bsStyle="text-dark" title="edit"
                                                         (click)="viewRow(rowItem, rowIndex)"></d-button>
                                            </div>
                                        </ng-template>
                                    </d-cell>
                                  </d-column>
                          </d-data-table>
                      </div>
                      <div class="da-list-footer">
                          <d-pagination [size]="'sm'" [total]="pager.total" [(pageSize)]="pager.pageSize"
                              [(pageIndex)]="pager.pageIndex" [canViewTotal]="true" [canChangePageSize]="true"
                              [canJumpPage]="true" [maxItems]="5" (pageIndexChange)="onPageChange($event)"
                              (pageSizeChange)="onSizeChange($event)">
                          </d-pagination>
                      </div>
              </da-col-item>
          </da-layout-row>
      </div>
  
  <ng-template #EditorTemplate>
      <div #pdfContent id="pdfContent">
        <h1 style="text-align: center;">BP PLASTIC</h1>
        <h3 style="text-align: center;">12,Ray Esshor Chandra Shill, Bahadur Street, Nolgola, Mitford Road, Dhaka-1100
          <br>
          Phone No: 57314606, 7341752, 7343346
        </h3>
        <h3 style="text-align: center;">Invoice </h3>
          <div class="grid center-element">
            <da-layout-col [daGutter]="[0, 0]" [daSpan]="24">
              <da-row-item>
                <da-layout-row [daGutter]="[0, 0]">
                  <da-col-item [daXs]="16" [daMs]="24">
                    <div class="u-1-2">
                      <d-form-item>
                        <d-form-label>Invoice No : {{master.invoiceNo}}</d-form-label>
                      </d-form-item>
                    </div>
                </da-col-item>
                <da-col-item [daXs]="8" [daMs]="24">
                  <div class="u-1-2">
                    <d-form-item>
                      <d-form-label>Invoice Date : {{master.invoiceDate}}</d-form-label>
                    </d-form-item>
                  </div>
              </da-col-item>
                  <da-col-item [daXs]="16" [daMs]="24">
                    <div class="u-1-2">
                      <d-form-item>
                        <d-form-label>Customer Name : {{ master.customerName}}</d-form-label>
                      </d-form-item>
                    </div>
                  </da-col-item>
                  <da-col-item [daXs]="8" [daMs]="24">
                    <div class="u-1-2">
                      <d-form-item>
                        <d-form-label>Gate Pass No : {{master.gatePassNo}}</d-form-label>
                      </d-form-item>
                    </div>
                  </da-col-item>
                  <da-col-item [daXs]="16" [daMs]="24">
                    <div class="u-1-2">
                      <d-form-item>
                        <d-form-label>Customer Address : {{ master.customerAddress}}</d-form-label>
                      </d-form-item>
                    </div>
                  </da-col-item>
                  
                  <da-col-item [daXs]="8" [daMs]="24">
                    <div class="u-1-2">
                      <d-form-item>
                          <d-form-label > Location : Main Location</d-form-label>
                      </d-form-item>
                    </div>
                  </da-col-item>
                  <da-col-item [daXs]="16" [daMs]="24">
                    <div class="u-1-2">
                      <d-form-item>
                        <d-form-label >Despatch Thru : </d-form-label>
                      </d-form-item>
                    </div>
                  </da-col-item>
                  <da-col-item [daXs]="8" [daMs]="24">
                    <div class="u-1-2">
                      <d-form-item>
                        <d-form-label >Destination : {{master.deliveryAddress}}</d-form-label>
                      </d-form-item>
                    </div>
                  </da-col-item>

                </da-layout-row>
              </da-row-item>
        
              <da-row-item>
                <da-layout-row [daGutter]="[0, 0]">
                </da-layout-row>
              </da-row-item>
        
            </da-layout-col>
          </div>
          
      <h3>Product Details Info</h3>
      
      <d-data-table #dataTable [dataSource]="listData" [scrollable]="true" [tableWidthConfig]="tableWidthConfig">
          <thead dTableHead >
            <tr dTableRow>
              <th dHeadCell>Id</th>
              <th dHeadCell>Product Name</th>
              <th dHeadCell>Delivery Qnty</th>
              <th dHeadCell>Total Price</th>
              <!-- <th dHeadCell>Actions</th> -->
            </tr>
          </thead>
          <tbody dTableBody >
            <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedIndex="nestedIndex">
              <tr dTableRow >
                
                <td
                  dTableCell
                  [field]="'id'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                  <span >{{ rowIndex + 1 }}</span>
                 
                </td>
                <td
                  dTableCell
                  [rowItem]="rowItem"
                  [field]="'productName'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                  <span > {{ rowItem?.productName }}</span>
                
                </td>
                
                <td
                  dTableCell
                  [rowItem]="rowItem"
                  [field]="'deliveryQuantity'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                <span style="margin-left: 6px">{{ rowItem.deliveryQuantity +" "+ rowItem.unitName }}</span>
                  
                </td>
                
                <td
                  dTableCell
                  [rowItem]="rowItem"
                  [field]="'totalPrice'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                <span style="margin-left: 6px">{{ rowItem.totalPrice }}</span>
                  
                </td>
                
              </tr>
              
            </ng-template>
          </tbody>
          
      </d-data-table>
      <d-data-table #dataTable [dataSource]="discount" [scrollable]="true"
                    [tableWidthConfig]="tableWidthConfig">
                    
                    <tbody dTableBody>
                        <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedIndex="nestedIndex">
                            <tr dTableRow>
                                <td></td>
                                <td></td>
                                <td dTableCell [rowItem]="rowItem" [field]="'discountName'"
                                    [beforeEditStart]="beforeEditStart"
                                    [beforeEditEnd]="beforeEditEnd">
                                    <span style="margin-left: 6px">{{ rowItem.discountName  }}</span>

                                </td>
                                <td dTableCell [rowItem]="rowItem" [field]="'discountValue'"
                                    [beforeEditStart]="beforeEditStart"
                                    [beforeEditEnd]="beforeEditEnd">
                                    <span style="margin-left: 6px">{{ rowItem.discountType=='Percent'?rowItem.discountValue+" %": rowItem.discountValue + " BDT"  }}</span>

                                </td>

                            </tr>
                        </ng-template>
                    </tbody>

                </d-data-table>
                <d-data-table #dataTable [dataSource]="netPriceinfo" [scrollable]="true"
                    [tableWidthConfig]="tableWidthConfig">
                    
                    <tbody dTableBody>
                        <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedIndex="nestedIndex">
                            <tr dTableRow>
                                <td></td>
                                <td></td>
                                <td>
                                    <span style="margin-left: 6px">Net Amount</span>
                                </td>
                                <td dTableCell [rowItem]="rowItem" [field]="'netTotal'"
                                    [beforeEditStart]="beforeEditStart"
                                    [beforeEditEnd]="beforeEditEnd">
                                    <span style="margin-left: 6px">{{ rowItem.netTotal  }}</span>
                                </td>

                            </tr>
                        </ng-template>
                    </tbody>

                </d-data-table>
                <!-- <d-data-table #dataTable [dataSource]="netPriceinfo" [scrollable]="true"
                    [tableWidthConfig]="tableWidthConfig">
                    
                    <tbody dTableBody>
                        <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedIndex="nestedIndex">
                            <tr dTableRow>
                                <td></td>
                                <td></td>
                                <td>
                                    <span style="margin-left: 6px">Net Amount in text</span>
                                </td>
                                <td dTableCell [rowItem]="rowItem" [field]="'netPriceInText'"
                                    [beforeEditStart]="beforeEditStart"
                                    [beforeEditEnd]="beforeEditEnd">
                                    <span style="margin-left: 6px">{{ rowItem.netPriceInText  }}</span>
                                </td>

                            </tr>
                        </ng-template>
                    </tbody>
                </d-data-table> -->
                <div class="da-content-wrapper" style="margin-top: 8%;">
                <da-layout-col [daGutter]="[0, 0]" [daSpan]="24">
                  <da-row-item>
                    <da-layout-row [daGutter]="[0, 0]">
                      <da-col-item [daXs]="16" [daMs]="24">
                        <div class="u-1-2">
                          <d-form-item>
                            
                            <d-form-label>গ্রাহকের স্বাক্ষর : </d-form-label>
                          </d-form-item>
                        </div>
                    </da-col-item>
                    <da-col-item [daXs]="8" [daMs]="24">
                      <div class="u-1-2">
                        <d-form-item>
                          <d-form-label style="text-decoration: overline;">কোম্পানি কর্তৃপক্ষের স্বাক্ষর : </d-form-label>
                        </d-form-item>
                      </div>
                  </da-col-item>
                    </da-layout-row>
                  </da-row-item>
                </da-layout-col>   
              </div>  
      </div>
      
      <div class="btn-group over-flow-ellipsis">
        <d-button bsStyle="text-dark" title="Download PDF" (btnClick)="generatePDF()">Download PDF</d-button>
      </div>
  </ng-template>