<div class="da-settings-layout">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="18" [daOrder]="2">
      <div class="da-content-wrapper">
        <da-layout-row [daGutter]="[24, 24]">
          <da-col-item [daSpan]="24" [daXs]="24">
            <div class="da-list-container" dLoading [loading]="busy">
              <div class="da-list-content">
                <div class="da-settings-header">Montly  Commission</div>
                <d-data-table
                  #dataTable
                  [dataSource]="listData"
                  [scrollable]="true"
                  [tableWidthConfig]="tableWidthConfig"
                >
                  <thead dTableHead>
                    <tr dTableRow>
                      <th dHeadCell>Minimum Amount</th>
                      <th dHeadCell>Maximum Amount</th>
                      <th dHeadCell>Commission Percent</th>
                    </tr>
                  </thead>
                  <tbody dTableBody>
                    <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                      <tr dTableRow>
                        <td
                          dTableCell
                          [editable]="true"
                          [editableTip]="editableTip"
                          [(editing)]="rowItem['titleEdit']"
                          [rowItem]="rowItem"
                          [field]="'title'"
                          [beforeEditStart]="beforeEditStart"
                          [beforeEditEnd]="beforeEditEnd"
                        >
                          <span *ngIf="!rowItem['titleEdit']"
                            ><d-tag [tag]="'Epic'" [labelStyle]="'epic'" [tag]="rowItem?.minimumAmount"></d-tag>
                            </span
                          >
                          <div
                            *ngIf="rowItem['titleEdit']"
                            class="edit-padding-fix"
                          >
                            <input
                              class="devui-form-control"
                              name="title"
                              [(ngModel)]="rowItem.minimumAmount"
                              [attr.maxlength]="100"
                              [attr.minlength]="3"
                            />
                          </div>
                        </td>
                        <td
                          dTableCell
                          [editable]="true"
                          [editableTip]="editableTip"
                          [(editing)]="rowItem['priorityEdit']"
                          [rowItem]="rowItem"
                          [field]="'priority'"
                          [beforeEditStart]="beforeEditStart"
                          [beforeEditEnd]="beforeEditEnd"
                        >
                          <span *ngIf="!rowItem['priorityEdit']"
                            ><d-tag
                              [tag]="rowItem?.maximumAmount" [labelStyle]="'epic'"
                            ></d-tag></span>
                          <div
                            *ngIf="rowItem['priorityEdit']"
                            class="edit-padding-fix"
                          >
                            <d-select
                              name="priority"
                              [(ngModel)]="rowItem.maximumAmount"
                              [options]="priorities"
                            ></d-select>
                          </div>
                        </td>
                        <td
                          dTableCell
                          [editable]="true"
                          [editableTip]="editableTip"
                          [(editing)]="rowItem['iterationEdit']"
                          [rowItem]="rowItem"
                          [field]="'iteration'"
                          [beforeEditStart]="beforeEditStart"
                          [beforeEditEnd]="beforeEditEnd"
                        >
                          <span *ngIf="!rowItem['iterationEdit']"><d-tag
                            [tag]="rowItem?.commissionPercent" [labelStyle]="rowItem.commissionPercent"
                          ></d-tag></span>
                          <div
                            *ngIf="rowItem['iterationEdit']"
                            class="edit-padding-fix"
                          >
                            <input
                              dTextInput
                              size="sm"
                              [(ngModel)]="rowItem.commissionPercent"
                            />
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                    
                  </tbody>
                </d-data-table>
                <div class="da-settings-header">Yearly  Commission</div>
                <d-data-table
                  #dataTable
                  [dataSource]="listData"
                  [scrollable]="true"
                  [tableWidthConfig]="tableWidthConfig"
                >
                  <thead dTableHead>
                    <tr dTableRow>
                      <th dHeadCell>Minimum Amount</th>
                      <th dHeadCell>Maximum Amount</th>
                      <th dHeadCell>Commission Percent</th>
                    </tr>
                  </thead>
                  <tbody dTableBody>
                    <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                      <tr dTableRow>
                        <td
                          dTableCell
                          [editable]="true"
                          [editableTip]="editableTip"
                          [(editing)]="rowItem['titleEdit']"
                          [rowItem]="rowItem"
                          [field]="'title'"
                          [beforeEditStart]="beforeEditStart"
                          [beforeEditEnd]="beforeEditEnd"
                        >
                          <span *ngIf="!rowItem['titleEdit']"
                            ><d-tag [tag]="'Epic'" [labelStyle]="'epic'" [tag]="rowItem?.minimumAmount"></d-tag>
                            </span
                          >
                          <div
                            *ngIf="rowItem['titleEdit']"
                            class="edit-padding-fix"
                          >
                            <input
                              class="devui-form-control"
                              name="title"
                              [(ngModel)]="rowItem.minimumAmount"
                              [attr.maxlength]="100"
                              [attr.minlength]="3"
                            />
                          </div>
                        </td>
                        <td
                          dTableCell
                          [editable]="true"
                          [editableTip]="editableTip"
                          [(editing)]="rowItem['priorityEdit']"
                          [rowItem]="rowItem"
                          [field]="'priority'"
                          [beforeEditStart]="beforeEditStart"
                          [beforeEditEnd]="beforeEditEnd"
                        >
                          <span *ngIf="!rowItem['priorityEdit']"
                            ><d-tag
                              [tag]="rowItem?.maximumAmount" [labelStyle]="'epic'"
                            ></d-tag></span>
                          <div
                            *ngIf="rowItem['priorityEdit']"
                            class="edit-padding-fix"
                          >
                            <d-select
                              name="priority"
                              [(ngModel)]="rowItem.maximumAmount"
                              [options]="priorities"
                            ></d-select>
                          </div>
                        </td>
                        <td
                          dTableCell
                          [editable]="true"
                          [editableTip]="editableTip"
                          [(editing)]="rowItem['iterationEdit']"
                          [rowItem]="rowItem"
                          [field]="'iteration'"
                          [beforeEditStart]="beforeEditStart"
                          [beforeEditEnd]="beforeEditEnd"
                        >
                          <span *ngIf="!rowItem['iterationEdit']"><d-tag
                            [tag]="rowItem?.commissionPercent" [labelStyle]="rowItem.commissionPercent"
                          ></d-tag></span>
                          <div
                            *ngIf="rowItem['iterationEdit']"
                            class="edit-padding-fix"
                          >
                            <input
                              dTextInput
                              size="sm"
                              [(ngModel)]="rowItem.commissionPercent"
                            />
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                    
                  </tbody>
                </d-data-table>
              </div>
            </div>
          </da-col-item>
        </da-layout-row>
      </div>
    </da-col-item>
    <!-- <da-col-item [daSpan]="24" [daXs]="18" [daOrder]="1" [daOrderXs]="3">
      <div class="da-settings-avatar">
        <div class="da-settings-img">
          <d-avatar [name]="'avatar'" [imgSrc]="imgSrc" [width]="120" [height]="120" [isRound]="false"></d-avatar>
        </div>
        <div class="da-settings-btn">
          <d-button>
            <label for="fileInput" style="cursor: pointer">Submit</label>
          </d-button>
          <input type="file" id="fileInput" style="visibility: hidden" />
        </div>
      </div>
    </da-col-item> -->
  </da-layout-row>
</div>
